
@font-face {
    font-family: 'montserrat';
    src: url('assets/fonts/montserrat.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather';
    src: url('../assets/fonts/merriweather.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --main-color: #59468d;
    --background-color: #ffffff;
    --trasparent-color: #ffffff00;
    --main-font: 'montserrat', sans-serif;
    --second-font: 'merriweather', serif;
}

* {
box-sizing: border-box;
}

body {
font-family: 'montserrat', sans-serif;
width: 100%;
height: auto;
border: 0;
padding: 0;
margin: 0;
background-color: var(--background-color);;
}

.header-decoration-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--main-color);
    z-index: 5;
    pointer-events: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 2vh 4vw;
}

.logo {
display: inline-block; 
width: auto;
height: 100%;
}

.logo-img {
width: 100%;
height: 100%;
object-fit: contain; 
}

#menu-check {
display: none;
}

.menu-icon {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 0.5vh;
    background-color: var(--background-color);
    transition: 0.3s;
}

.nav-menu {
    position: fixed;
    top: 10vh;
    left: -100%;
    flex-direction: column;
    background-color: var(--main-color);
    width: 100%;
    height: 90vh;
    gap: 0;
    transition: left 0.4s ease;
    justify-content: flex-start;
}

.nav-link {
    display: block;
    padding: 25px;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
}

#menu-check:checked ~ .nav-menu {
    left: 0;
}

#menu-check:checked ~ .menu-icon span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

#menu-check:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-check:checked ~ .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7px);
}

.section-content {
    width: 100%;
}
