
@font-face {
    font-family: 'montserrat';
    src: url('assets/fonts/montserrat.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather';
    src: url('../assets/fonts/merriweather.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --main-color: #59468d;
    --main-font: 'montserrat', sans-serif;
    --second-font: 'merriweather', serif;
}

/********************************************************************************/

.contenedor-padre {
    display: flex;
    gap: 20px; /* Espacio entre columnas */
}

.columna {
    flex: 1; /* Hace que todas las columnas midan lo mismo */
    padding: 20px;
    background: #f4f4f4;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    width: 100%;
    height: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: white;
}

/********************************************************************************/
/*                                 MOBILE-FIRST                                 */
/********************************************************************************/

.header-decoration-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #59468d;
    z-index: 5;
    pointer-events: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0 2vw;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2vw;
}

.nav-link {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    z-index: 1;
    transition: color 0.3s ease;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -15px;
    right: -15px;
    
    background-color: white;
    border-radius: 4px;
    z-index: -1;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.nav-link:hover {
    color: #59468d;
}


/********************************************************************************/
/*                                    DESKTOP                                   */
/********************************************************************************/

@media (min-width: 620px) {

    .header-decoration-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        background-color: #59468d;
        z-index: 5;
        pointer-events: none;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 10vh;
        z-index: 1000;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 10vh;
        padding: 0 2vw;
    }

    .nav-menu {
        display: flex;
        list-style: none;
        gap: 2vw;
    }

    .nav-link {
        position: relative;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        color: white;
        z-index: 1;
        transition: color 0.3s ease;
    }

    .nav-link::before {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -15px;
        right: -15px;
        
        background-color: white;
        border-radius: 4px;
        z-index: -1;

        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.4s ease-in-out;
    }

    .nav-link:hover::before {
        transform: scaleX(1);
    }

    .nav-link:hover {
        color: #59468d;
    }

}

/***********************************************************************/


#cover-page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    background-image: url('assets/video/portrait.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 12vh;
    z-index: 10;
}

#cover-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.cover-text {
    font-family: 'merriweather', sans-serif;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.cta-button {
    display: inline-block;
    position: relative;
    padding: 12px 24px;
    text-decoration: none;
    color: #59468d;
    font-weight: 600;
    z-index: 1;
    font-family: 'montserrat', sans-serif;
}

.cta-button:hover {
    color: #ffffff;
}

.cta-button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 3px solid #59468d00;
    border-radius: 4px;
    z-index: -1;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.cta-button:hover::before {
    background-color: transparent;
    border-color: #ffffff;
}