
@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/montserrat.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/merriweather.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --main-color: #59468d;
    --background-color: #ffffff;
    --trasparent-color: #ffffff00;
    --main-font: 'montserrat', sans-serif;
    --second-font: 'merriweather', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    overflow-x: hidden;
    width: 100%;
}

.header-decoration-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--main-color);
    z-index: 5;
    pointer-events: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 4vw;
}

.logo {
    display: flex;
    align-items: center;
    width: auto; 
    height: 100%;
}

.logo-img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

#menu-check {
    display: none;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    aspect-ratio: 1 / 1;
    z-index: 1001; 
}

.menu-icon span {
    width: 100%;
    height: 0.5vh;
    background-color: var(--background-color);
    border-radius: 0.1rem;
}

.nav-menu {
    position: fixed;
    top: 10vh;
    right: -100%; 
    width: 100vw;
    height: 90vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.4s ease-in-out;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    width: 100%;
    text-decoration: none;
    color: var(--background-color);
    font-size: 2rem;
    margin: 2vh 0;
    display: block;
    font-family: var(--main-font);
}
/*
.nav-link::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -15px;
    right: -15px;

    background-color: white;
    border-radius: 4px;
    z-index: -1;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.nav-link:hover {
    color: #59468d;
}
*/

#menu-check:checked ~ .nav-menu {
    right: 0;
}

#menu-check:checked ~ .menu-icon span:nth-child(1) {
    transform: rotate(30deg);
}

#menu-check:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-check:checked ~ .menu-icon span:nth-child(3) {
    transform: rotate(-30deg);
}

